includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 8

  paths:
    - app
    - database/factories
    - database/seeders

  tmpDir: storage/phpstan

  checkMissingCallableSignature: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true

  reportUnmatchedIgnoredErrors: true
